.inline-block{
    display: inline-block;
    vertical-align: top;
}

.logo{
    width: 23%;
    padding: 1%;
}

nav{
    width: inherit;
    padding: 20px;
}
nav, ul{
    width: 50%;
    margin-left: 100px;
}

.heroImg{
 height: 800px;
 padding: 25px;
}

.content{
    width: 500px;
    margin: 0 auto;
    height: 1200px;
}

footer{
    background-color: #FBE5DB;
    width: 100%;
    padding: 25px;
    margin-top: 20px;
    border-top: 3px solid #E7B5B5 ;
   
}

header {
    border-bottom: 3px solid #E7B5B5 ;
}
h1 {
    font-family: 'Chivo';
    font-weight: bold;
    padding: auto;
    font-size: larger;
}
h2{
    font-family: 'Chivo';
    font-weight: bold;
    padding: auto;
    font-size:large;

}

ul{
    display: inline-block;
    vertical-align:top;
    padding: center;
    font-family: 'Chivo';
  
}

il p{
    padding: 10px;
    font-family: 'Chivo';
}
il{
    margin: 10px;
}
button{
    color: rgb(196, 94, 111);
    font-weight:bold;
    background-color: #FBE5DB;
    padding: 10px;
    box-shadow: 5px 5px #f3be8c;
}
/* Row Style */

.text {
    background: rgba(94, 88, 81, 0.822);
    width: 100%;
    padding: 20px 40px;
    color: white;}

.row{
    display: flex;
    height: 500px;
    width: 1000px;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 20px;
}
/* put other project name with this group */

.project1, .project2, .project3, .project4{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:flex-end;
    margin-right: 20px;
}

.project1{
    
    background-image: url("../image/iroam.png");
    background-repeat: no-repeat;
    background-position: center;
}
.project2{
    background-image: url("../image/Moonshot.png");
    background-repeat: no-repeat;
    background-position: center;
}
.project3{
    background-image: url("../image/FTC.png");
    background-repeat: no-repeat;
    background-position: center;
}
.project4{
    background-image: url("../image/FFR.png");
    background-repeat: no-repeat;
    background-position: center;
}
